body {
  font-size: 120%;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 2px; 
}

input {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
}

.placeholder {
  place-content: center;
}

.transactions {
  margin-bottom: 30vh;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

canvas {
  margin: 0 auto;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
